<h4><%= link_to @event.name, event_path(@event)%></h4>
<h2>New attendee</h2>

<% if @attendee.errors.any? %>
  <p class="alert">Unable to create attendee.
  <ul>
    <% @attendee.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </p>
<% end %>

<%= render "form", event: @event, attendee: @attendee %>
