<h1>Edit Role <small><%= link_to "#{@event.name} Roles", event_roles_path(@event) %></small></h1>

<% if @role.errors.any? %>
  <p class="alert">Unable to update role.
  <ul>
    <% @role.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </p>
<% end %>

<%= render "form", event: @event, role: @role %>
