<h2>New role</h2>

<% if @role.errors.any? %>
  <p class="alert">Unable to create role.
  <ul>
    <% @role.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </p>
<% end %>

<%= render "form", event: @event, role: @role %>
