.attendee_search {
  input[type="search"] {
    width: 400px;
  }
}

table.attendees-table {
  width: 980px;

  td:first-child {
    width: 150px;
  }

  td:first-child  + td {
    width: 150px;
  }
}
